*
{
	margin: 0px;
	padding: 0px;
}
body{
	font-family:Arial;
}
.btn{
	width:80px;
	margin-left:160px;
	color:#fff;
	background-color:#000;
	border-radius:20px;
	padding:5px;
}
.background{
	width:405px;
	height:660px;
	background-image: url(form.jpg);
	padding-top:20px;
}
.box{
	width:200px;
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;

}
textarea{
	width:200px;
	margin-top:5px;
	margin-bottom:5px;
	
}
.holder{
	width:380px;
	background-color:rgba(255,255,255,0.7);
	border:1px solid #fff;
	border-radius:5px;
	margin-top:2px;
	margin-left:10px;
}
label{
	margin-left:10px;
	width:100px;
	display:inline-block;
}
h3{
	color:#fff;
	margin-left:10px;
	margin-bottom:3px;
	
}
.radio{
	margin-left:20px;
	margin-top:10px;
	margin-bottom:10px;
	
}







